.details {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 100px);
    max-width: 1200px;
    margin: 25px auto;
}

.details-add-to-fav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
	margin-left: 20px;
}

.details-add-to-fav {
	margin-right: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 38px;
	color: #333;
	transition: color 0.3s ease;
	
	padding: 0;
}

.details-img {
	flex: 1;
    border-radius: 15px;
	padding: 20px 0;
    width: 500px;
    height: 680px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.details-img img {
	max-width: 100%;
	height: 100%;
    object-fit: contain;
}

.details-description {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.details-description h2 {
		margin: 0px 0px 20px 20px;
    font-size: 30px;
    align-self: center;
}
.details-description-text {
    line-height: 1.8;
	margin: 10px 20px;
}

.product-discount-old-price-details {
	color: rgb(219, 25, 25);
  margin-left: 20px; 
	margin-top: 5px;

}

.product-discount-actual-price-details {
	color: var(--color-primary);
  margin-top:0 ;
	margin-left: 20px;
	font-weight: bold;
}


.details-price {
	margin: 10px 20px;
  font-size: 20px;
}

.details-availability {
	margin: 10px 20px;
}

.details-count-handler {
	display: flex;
  align-items: center;
  justify-content: center;
	margin: 5px 20px;
}
.details-count-handler-btn {
	width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.details-count-handler-input {
	width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #eee;
}

.details-add-to-cart-btn {
	position: relative;
	color: var(--color-primary);
	border: 2px solid rgb(19, 19, 19);
	min-width: 100px;
	padding: 10px 20px;
	border-radius: 15px;
	text-align: center;
    align-self: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 1;
    background: transparent;
		cursor: pointer;
}



.details-add-to-cart-btn:before,
.details-add-to-cart-btn:after {
    content: "";
    position: absolute;
	top: -2px;    
    left: -2px;  
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    background: var(--color-tertiary);
    z-index: -1;
    transition: transform 0.5s;
}

.details-add-to-cart-btn:before {
    transform: translateX(-200%);
}

.details-add-to-cart-btn:after {
    transform: translateX(200%);
    transition-delay: 0.2s;
}

.details-add-to-cart-btn:hover {
	color: white;
}

.details-add-to-cart-btn:hover:before,
.details-add-to-cart-btn:hover:after {
	transform: translateX(0);
}

.details-max-info {
	margin: 30px 20px;
	color: rgb(228, 21, 21);
	
}

@media (max-width: 578px) {
	.details {
        flex-direction:column;
    }
}
@media (max-width: 1200px) {
    .details {
      max-width: 100%;
    }
  }
