.user {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.box {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1em auto;
  width: 70%;
  padding: 20px 10px;
}

.user-data {
  flex: 1;
}

.update-user-title {
  font-size: 1.1rem;
 
  margin: 10px 0;
}

.user-title
 {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.user-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50%;  /* Change the width as needed */
  background-color: var(--color-tertiary);
}

.user-info {
  margin-bottom: 5px;
}

.user-info-container {
  text-align: left;
  margin-left: 30px;
}

.user-edit-btn,
.update-user-btn {
  background-color: transparent;
  border: 1px solid rgb(19, 19, 19);
  border-radius: 2px;
  min-width: 100px;
  padding: 5px 10px;
  
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.user-edit-btn:hover,
.update-user-btn:hover {
  background-color: var(--color-tertiary);
  color: white;
  cursor: pointer;
}

.update-user-close {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  border-radius: 15px;
  padding: 5px 10px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.update-user-close:hover {
  background-color: var(--color-tertiary);
  color: white;
  cursor: pointer;
}

.update-user-close:hover {
  background-color: red;
}


.user-order-story {
  flex: 1;
}

/* favourite */

.user-favourite {
  border: 1px solid #ddd;
}

.user-favourite-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-favourite-name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
}
.user-favourite-name h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.user-favourite-link {
  text-decoration: none;
  font-size: 12px;
  
  color: var(--color-tertiary)
}
.user-favourite-link:hover {
  color: var(--color-accent)
}

.user-favourite-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 20px;
}


/* update user */

.update-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-user input {
  margin-bottom: 0.3em;
}

/* logout  */

.user-logut-container {
width: 100%;
display: flex;
justify-content: center;
text-align: center;
}
.user-logout-btn {
  
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid rgb(19, 19, 19);
  max-width: 150px;
  text-align: center;
  border-radius: 1px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color .3s;
  cursor: pointer;
}

.user-logout-btn:hover {
background-color: red;
}

/* For larger screens */


@media screen and (min-width: 992px) {

  .box {
    max-width:100%;
    margin: 1em 2em;
    padding: 0 1em;
   
  }
  .user {
    flex-direction: row;
    gap: 1.5em;
  }

  .user-info-container {
    margin-left: 0;
  }

  .user-data,
  .user-order-story,
  .user-favourite {
    flex: 1;
  }
  .user-logout-btn {
    margin: auto;
    background-color: transparent;
    border: 1px solid rgb(19, 19, 19);
    max-width: 250px;
    text-align: center;
    border-radius: 1px;
    padding: 15px 40px;
    
    transition: background-color .3s;
    cursor: pointer;
  }

  
  
}

