.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.popup-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 700px;
  height: 500px;
  background-color: var(--color-popup);
  border: 1px solid var(--color-tertiary);
  border-radius: 2%;
  box-shadow: 0 2px 10px 4px var(--color-tertiary);
}



.popup-message {
  font-size: 20px;
  margin: 30px 0;
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.popup-image {
  width: 250px;
  height: 250px;
  border-radius: 10%;
}

.popup-button {
  background-color: var(--color-tertiary);
  flex: 1;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-background);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: var(--color-primary);
}

.popup-quantity-control .popup-image {
  margin-right: 20px;
}

.popup-quantity-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.popup-quantity-control .popup-add-remove-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.popup-quantity-control input {
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
}

.popup-quantity-control button {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: var(--color-tertiary);
  color: var(--color-background);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-quantity-control button:hover {
  background-color: var(--color-tertiary);
}