.shop {
	margin-bottom: 50px;
}
.shopTitle {
	margin-top: 100px;
	text-align: center;
	font-size: 24px;
  }
  
  .products {
	display: grid;
	gap: 20px;
	place-items: center;
  }
  
  .product {
	border-radius: 15px;
	padding: 20px 0;
	width: 300px;
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  }
  
  .product img {
	width: 200px;
	height: 200px;
  }
  
  .product .product-description {
	text-align: center;
	margin-bottom: auto;
  }
  
  .product:hover .product-description {
	font-weight: bold;
  }
  
  .addToCartBttn {
	background-color: transparent;
	border: 2px solid rgb(19, 19, 19);
	min-width: 100px;
	padding: 5px 10px;
	border-radius: 15px;
  }
  
  .addToCartBttn:hover {
	background-color: rgb(19, 19, 19);
	color: white;
	cursor: pointer;
  }
  
  
  @media (min-width: 578px) {
	.products {
	  grid-template-columns: repeat(2, 1fr);
	}
  
	.product {
	  width: 300px;
	  height: 350px;
	}
  }
  
  @media (min-width: 992px) {
	.shopTitle {
	  font-size: 40px;
	}
  
	.products {
	  grid-template-columns: repeat(3, 1fr);
	  gap: 80px;
	}
	
  
	.product {
	  width: 330px;
	  height: 420px;
	}
	.product img {
		width: 300px;
		height: 300px;
	  }
  }
  