.shop {
  margin-bottom: 50px;
}

.shop-title {
  margin: 40px auto;
  text-align: center;
  font-size: 28px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  place-items: center;
  justify-content: center;
  overflow: hidden;
}

.product {
  position: relative;
  border-radius: 15px;
  padding: 20px 0;
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px var(--color-tertiary);
  cursor: pointer;
}

.product img {
  width: 200px;
  height: 200px;
}

.product .product-description {
  text-align: center;
  margin-bottom: auto;
  font-size: 18px;
}

.product:hover .product-description {
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
  margin-top: 10px;
}

.add-to-cart-btn:hover {
  background-color: var(--color-tertiary);
  color: white;
  cursor: pointer;
}

.add-to-fav-btn {
  position: absolute;
  top: -15px;
  right: 10px;
  background: transparent;
  border: none; 
  cursor: pointer; 
  outline: none;  
  font-size: 2.1rem; 
  color: #333;  
  transition: color 0.3s ease;  
  margin-top: 20px;
  padding: 0;  
}








@media (min-width: 578px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 300px;
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
  }
  .product .product-description {
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  .shop-title {
    font-size: 40px;
  }

  .products {
    grid-template-columns: repeat(3, minmax(300px, clamp(300px, 30%, 400px)));
    gap: 80px;
  }

  .product {
    width: 400px;
    height: 520px;
  }

  .product img {
    width: 350px;
    height: 350px;
  }

  .product .product-description {
    font-size: 23px;
  }

  .add-to-cart-btn {
    padding: 10px 20px;
    margin-top: 20px;
  }
}
