.shop {
  overflow-x: hidden;
  margin-bottom: 50px;
 color: var(--color-primary);

}

.shop-header {
 
	position: relative;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	z-index: 0;
  
  
}


.shop-header::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: inherit;
	background-size: cover;
	background-position: center;
	filter: brightness(0.4);
	z-index: 0;
}

.overlay-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-align: left;
	height: 50%;
	width: 60%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	z-index: 10;
}
.overlay-text h1 {
	font-size: 48px;
}

.overlay-text p {
	font-size: 14px;
}

.overlay-text > * {
	margin-bottom: 10px;
}

.social-media-icons {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 40%;
	left: 10%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
.social-media-icons a {
	text-decoration: none;
	color: var(--color-background);
}
.social-media-icons a:hover {
	opacity: 0.5;
}
.shop-button {
  position: relative;
  overflow: hidden;
}

.shop-button button {
  background-color: transparent;
  border: 2px solid currentColor;
  border-radius: 20px;
  color: var(--color-background);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
	cursor: pointer;
}

.shop-button button::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  border-radius: 20px;
  transform: translate(-100%, 0) rotate(20deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.shop-button button:hover::after {
  transform: translate(0, 0);
}

.shop-button button:hover {
  border: 2px solid var(--color-tertiary);
  color: var(--color-background);

  will-change: transform;
}

/* carusel  */
.carousel .control-arrow {
  height: 95%;
 }

/* select */
.shop-select-container {
 
	display: flex;
	width: 100%;
	justify-content: left;
	margin-bottom: 30px;
	margin-left: 2.2em;
}

.select-wrapper {
  width: 30%;
}


 

/* products */

.products {
 
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
	place-items: center;
	justify-content: center;
	overflow: hidden;
	
  
}

.product {
	position: relative;
	border-radius: 15px;
	padding: 20px 0;
	width: 310px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;
	box-shadow: 2px 2px 5px var(--color-tertiary);
	cursor: pointer;
	transition: scale 0.3s, font-weight 0.3s;
	margin: 20px auto;
}


.product-link {
  position: relative;
  display: inline-block;
}

.image-hover-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 5px;
	transition: opacity .3s;
}

.product-link:hover .image-hover-text {
  opacity: 1;
}

.product img {
	width: 200px;
	height: 200px;
}

.best-seller-icon {
	position: absolute;
	top:10px;
	right: 5px ;
	width: 50px;
	height: 50px;
	
}

.product .product-description {
	text-align: center;
	margin-bottom: 0;
	font-size: 16px;
}

.product .product-description p {
	margin-bottom: 0;
}




.product:hover {
	scale: 1.05;
}

.product-discount-old-price {
  color: rgb(219, 25, 25);
  margin-bottom: 0; 
	text-decoration: line-through;
}

.product-discount-new-price {
  color: var(--color-primary);
  margin-top: 2%; 
	font-weight: bold;
}

.product-discount-badge {
  position: absolute;
  top: 15px;
  left:0px;
  background: rgb(253, 28, 28);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.product-discount-badge::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid red;
}
.add-to-cart-btn {
	position: absolute;
	bottom: 0;
	color: var(--color-primary);
	border: 2px solid rgb(19, 19, 19);
	min-width: 100px;
	padding: 5px 10px;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
	cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s;
    z-index: 1;
    background: transparent;
}

.add-to-cart-btn:before,
.add-to-cart-btn:after {
    content: "";
    position: absolute;
		top: -2px;    
    left: -2px;  
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    background: var(--color-tertiary);
    z-index: -1;
    transition: transform 0.5s;
}

.add-to-cart-btn:before {
    transform: translateX(-200%);
}

.add-to-cart-btn:after {
    transform: translateX(200%);
    transition-delay: 0.2s;
}

.add-to-cart-btn:hover {
	color: white;
}

.add-to-cart-btn:hover:before,
.add-to-cart-btn:hover:after {
	transform: translateX(0);
}




.add-to-fav-btn {
	position: absolute;
	top: -15px;
	right: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 2.1rem;
	color: #333;
	transition: color 0.3s ease;
	margin-top: 20px;
	padding: 0;
}


@media (min-width: 578px) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}

	

	.product {
		width: 300px;
		height: 360px;
	}

	.add-to-cart-btn {
		font-size: 14px;
	}
  .social-media-icons {
 
    left: 7%;

   
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
	.products {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 50px;
	}
	.product .product-description {
		font-size: 16px;
	}
  .social-media-icons {
 
    left: 5%;

   
  }
}

@media (min-width: 1200px) {
	.shop-title {
		font-size: 40px;
	}

	.products {
		grid-template-columns: repeat(3, minmax(300px, clamp(300px, 30%, 400px)));
		gap: 80px;
	}

	.product {
		padding: 5px 0;
		width: 300px;
		height: 420px;
	}

	.product img {
		width: 250px;
		height: 270px;
	}

	.product .product-description {
		font-size: 17px;
	}

	.add-to-cart-btn {
		font-size: 16px;
	}
  .social-media-icons {
 
    left: 3%;

   
  }
}







