.age-check-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  border: none;
  margin: 0;
  padding: 0;
}



.age-check-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-popup);
  padding: 30px;
  
  box-shadow: 0px 0px 46px 16px rgba(66, 68, 90, 1);
  border-radius: 4px;
  text-align: center;
  width: 30%;
}

.age-check-exclamation-icon {
  font-size: 48px;  
  color: red;  
}

.age-check-form h2 {
  margin-bottom: 20px;
}

.age-check-form p {
  margin-bottom: 20px;
}

.age-check-submitbtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f00;
  color: var(--color-background);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color .3s;
 
}

.age-check-submitbtn:hover {
  background-color: var(--color-primary); 
}

.age-check-container-btn-icon {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .age-check-form {
    width: 50%;
  }
}

@media (max-width: 587px) {
  .age-check-form {
    width: 80%;
  }
  .age-check-exclamation-icon {
    font-size: 58px;  
   
  }
}
