

.main-footer {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 20px;
	padding: 20px;
	place-items: center;
	overflow: hidden;
	gap: 50px;
}

.main-footer h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #ffffffcc;
}

.main-footer h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #ffffffcc;
}

.main-footer ul {
	list-style: none;
}

.main-footer ul li a {
	color: #ffffffcc;
	text-decoration: none;
}

.contact-details,
.location {
	margin-top: 20px;
}

.contact-details li,
.location a {
	white-space: nowrap;
	list-style: none;
	margin: 10px 0;
}

.contact-details li a,
.location a {
	color: #f1f1f1;
	margin-left: 10px;
	text-decoration: none;
}

.contact-details li a {
	position: relative;
	overflow: hidden;
}

.contact-details li a::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #ffffff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease-in-out;
}

.contact-details li a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.logoinfo p {
	color: #6eb981;
	font-size: 17px;
	margin-top: 5px;
}
.logoinfo img {
	height: 119px;
	width: 90px;
}
.logoinfo a {
	text-decoration: none;
	color: #f1f1f1;
	font-size: 11px;
	margin-left: 10px;
}

.location {
	margin-bottom: 20px;
}

.location h3 {
	margin-bottom: 10px;
	text-align: center;
}

.location iframe {
	height: 200px;
	width: 340px;
	border-radius: 5px;
	border: none;
	transition: box-shadow .3s ease-in-out;
	
}

.location iframe:hover {
	box-shadow: 0px 0px 8px 4px var(--color-highlight);
}

.sociallogos {
	padding: 20px 0;
	display: flex;
	text-align: center;
}

.sociallogos  a {
	color: #ffffff;
	font-size: 22px;
	padding: 0 10px;
	text-decoration: none;
}

.sociallogos  a:hover {
  transition: color 0.3s ease-in-out;
}



/* main footer  */

footer {
	background-color: rgb(19, 19, 19);
	border-top: 1px solid #080e09;
	color: #ffffff;
	font-size: 17px;
	padding: 15px 5px;
	text-align: left;
}

footer a {
	color: #ffffff;
	text-decoration: none;
}


/* newsletter */
.newsletter-footer {
  background-color: #f9f9f9;
  padding: 20px;

  text-align: center;
}

.newsletter-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter-info {
  font-size: 16px;
  color: #555555;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-right: 10px;
}

.newsletter-form-btn {
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  overflow: visible;
  outline: none;
 
}

.newsletter-form-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgba(224, 228, 233, 0.2);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.newsletter-form-btn:hover::before {
  opacity: 1;
  animation: bubbleEffect 1s ease-in-out infinite;
}

@keyframes bubbleEffect {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}



.newsletter-success {
  color: rgb(12, 143, 12);
}

/*media */

@media (min-width: 578px) {
	body {
	  font-size: 18px;
	}
  
	.main-footer {
	  grid-template-columns: repeat(2, minmax(220px, 1fr));
	  margin-top: 30px;
	  padding: 70px 0;
	}
	.main-footer h2 {
		font-size: 36px;
		font-weight: 500;
		margin-bottom: 10px;
	}
  
	.location {
	  margin-top: auto;
	  margin-bottom: auto;
	  order: 2;
	}
  
	.location h3 {
	  margin-bottom: 10px;
	  
	}
  
	.location iframe {
	  height: 250px;
	  width: 270px;
	}
  
	.contact-details {
	  order: 1;
		
	}
  
	.contact-details li,
	.location a {
	  list-style: none;
	  margin: 10px 0px;
	}
  
	.contact-details li a,
	.location a {
	  color: #f1f1f1;
	  margin-left: 10px;
	  text-decoration: none;
	}
  
	.logoinfo p {
	  color: #6eb981;
	  font-size: 17px;
	  margin-top: 5px;
	}
  
	.logoinfo img {
	  height: 119px;
	  width: 90px;
	}
  
	.logoinfo a {
	  text-decoration: none;
	  color: #f1f1f1;
	  font-size: 11px;
	  margin-left: 10px;
	}
	
	.sociallogos {
	  padding: 20px 0;
	}
  }
  
  @media (min-width: 992px) {
		.main-footer {
			grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
			margin-top: 30px;
			padding: 50px 0;
			gap: 20px;
			
		}
		
		

		.location iframe {
			height: 200px;
			width: 220px;
		}
		
  }

	@media (min-width: 1200px) {
		.location iframe {
			height: 230px;
			width: 280px;
		}
	}
  


	/*  KEY FRAMES */

	