*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    font-family: 'Montserrat', sans-serif;
  }
  
  .main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-around;
    background-color: #514b4b;
  }
  
  .main-footer ul {
    list-style: none;
  }

  .main-footer h2 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .main-footer h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
  }
  
  .main-footer ul li a {
    color: #ffffffcc;
    text-decoration:none;
  }
  
  footer {
    background-color: #262f2e;
    border-top: 1px solid #2b4933;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .logoinfo p {
    color: #6EB981;
    font-size: 17px;
    margin-top: 5px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration:none;
    color: #f1f1f1;
    margin-left: 10px;
  }

  

  
  .sociallogos{
    padding:20px 0;
  }
  
  .sociallogos .logobox a{
    padding:0 10px;
    text-decoration:none;
    color:#ffffff;
    font-size:22px;
  }
  
  .com ul li{
    padding:5px 0;
  }
  
  @media only screen and (max-width: 992px) {
    .main-footer {
      padding:20px;
      display:grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
      .info{
        padding:20px 0;
    }
  }
  
  @media (max-width: 578px) {
    .main-footer {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .sociallogos{
      padding:10px 0;
    }
    .com{
      padding:10px 0;
    } 
  
  }