


:root {
  --color-primary: #000814;
  --color-secondary: #001d3d;
  --color-tertiary: #003566;
  --color-accent: #ffc300;
  --color-highlight: #ffd60a;
  --color-background: #fff;
  --color-popup: #999999;
  --color-error: rgb(213, 23, 23);
}